

<h1 class="d-flex align-items-center justify-content-center" style="font-size: 65px; font-family: 'Sometype Mono';"
>GESTOR DE INVENTARIO R&L</h1>

<div class="d-flex align-items-center justify-content-center">
<img src="assets/recursos/Logo.jpg" alt="Logo" class="img-fluid" width="500px">
</div>

<div class="d-flex align-items-center justify-content-center pt-2" >
<p style="font-size: 22px; font-family: 'Overpass Mono'; text-align: center;"
>
Agrega productos, Visualiza todo tu inventario, Conoce cada detalle de tus productos,
Visualiza las facturas de tus productos, Modifica tus productos y Elimina productos.
<br>
¡GESTIONA TODO TU INVENTARIO EN UN SOLO LUGAR!

</p>
</div>
